<link rel="stylesheet" href="/stylesheets/header.css">
<header class="header">
    <nav class="nav">
        <img src="/images/logif.png" class="logo">
        <a href="/">Introdução</a>
        <a href="/conteudo">Conteúdo</a>
        <a href="/quiz">Quiz</a>
        <a href="/sobre">Sobre</a>
    </nav>
</header>