<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>Document</title>
</head>

<%- include('./partials/header') %>

<body>
        <main class="content">
            <img src="/images/imagee.png">
        </main>
    
        <div class="content-int">
            <h1>SOCIOLOGIA</h1> <br>
            <p>       A Sociologia é o estudo das sociedades humanas, das interações sociais e das estruturas que moldam a vida coletiva.
                Ela busca compreender como os indivíduos se relacionam em grupos, como as instituições influenciam comportamentos
                e como as desigualdades sociais, como classe, raça e gênero, impactam as oportunidades e os direitos dos indivíduos.</p><br>
                
            <p>         A Sociologia aborda temas como cultura, poder, globalização, mudanças sociais e conflitos, utilizando diversas teorias
                e métodos para analisar os fenômenos sociais e suas transformações ao longo do tempo. É uma disciplina fundamental
                para entender os mecanismos que organizam a vida em sociedade e suas dinâmicas.</p>
        </div>
    
        <div class="content-inf">
            <h1>Pontos  importantes sobre a sociologia</h1>
            <p> 1. Desigualdade Social: Analisa as disparidades entre grupos sociais, como as de classe, raça, gênero e acesso a recursos. A Sociologia investiga
                como essas desigualdades influenciam as oportunidades e as condições de vida.
            </p><br>
    
            <p> 2. Cultura: Examina os valores, crenças, normas e práticas compartilhadas por grupos sociais. A cultura molda as identidades individuais e coletivas e influencia comportamentos e atitudes.
            </p><br>
    
            <p> 3. Poder e Autoridade: Estuda como o poder é distribuído e exercido nas sociedades. Envolve a análise de instituições, como o Estado, e as relações de domínio entre diferentes grupos.</p><br>
    
            <p> 4. Globalização: Investiga como o aumento da interconexão global afeta as sociedades, com destaque para as trocas culturais, econômicas e políticas, e os impactos da globalização sobre desigualdades e identidades locais.
            </p><br>
            <p>  5. Mudança Social: Foca nas transformações sociais ao longo do tempo, abordando os fatores que impulsionam mudanças, como tecnologia, movimentos sociais e mudanças econômicas.
            </p><br>
    
            <p> 6. Instituições Sociais: Estuda as estruturas que organizam a sociedade, como a família, a educação, a religião e o sistema de saúde, analisando como elas influenciam os indivíduos e as interações sociais.
            </p><br>
            
            <h3>  Esses temas são centrais para a compreensão de como as sociedades funcionam e como os indivíduos se relacionam dentro delas, ajudando a identificar os desafios e as oportunidades para uma sociedade mais justa e igualitária</h3>
            
            
        </div>
        </div>
</body>

<%- include('./partials/footer') %>

</html>